/*
--- 01 TYPOGRAPHY SYSTEM

-Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default : 400;
medium:500;
Semi-bold: 600;
Bold: 700;

- Line heights 
Default: 1

--- 02 colors 

- Primary #e67e22
- Tints: #fdf2e9
- Shades: #cf711f
-Accents:
-Grey #555

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 



*/

/*
1 rem = 16px; because  body has 16px default  but if we did 
html {
 font-size: 10px;
}

we will change therule and 1 rem will = 10 px 
so 50 em will be 500px
but we will do something better 
html {
 font-size: 62.5%;
}
 because 10 / 16 = 0.625 = 62.5%

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/******************************/
/* GENERAL REUSABLE COMPONENTS*/
/******************************/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid---2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid---3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid---4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid---5--cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid---footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.grid--center--v {
  align-items: center;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  letter-spacing: -0.5px;
  color: #333;
  font-weight: 700;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  color: #cf711f;
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
  letter-spacing: 0.75px;
}
.btn {
  border: none;
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
  transition: all 0.3s;
}

.btn--form:hover {
  background-color: #fdf2e9;
  color: #555;
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  color: #555;
  background-color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}
.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #e67e22;
}

.link:hover,
.link:active {
  color: #cf711f;
  border: 1px solid transparent;
  padding-bottom: 0.2rem;
  transition: all 0.3s;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-right-md {
  margin-bottom: 4.8rem !important;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.meal-list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}
