/******************************/
/******* HEADER*******/
/******************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.btn-nav {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.8rem;

  color: #333;
}

.btn-nav:hover,
.btn-nav:active {
  text-decoration: none;
  color: #cf711f;
  transition: color 0.3s;
}

.btn-nav:last-child {
  padding: 1.2rem 2.4rem;
  color: #fff;
  border-radius: 9px;
  transition: background-color 0.3s;
}
/******************************/
/***** HERO*****/
/******************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  padding: 0 3.2rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.2rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-img {
  display: flex;
}

.delivered-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-img img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
}

/******************************/
/***** FEATURED IN SECTION*****/
/******************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.headeing-featured-in {
  text-align: center;
  color: #888;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
}

.logos {
  /* 
  padding: 3rem 0;
  gap: 5.5rem;
  */
  /*align-items: center;*/
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  /*New info*/
  filter: brightness(0);
  opacity: 50%;
}
/******************************/
/***** HOW IT WORKS SECTION*****/
/******************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  color: #ddd;
  font-weight: 550;
  font-size: 8.6rem;
  margin-bottom: 1.2rem;
}

.step-text-box {
  margin-top: 4.2rem;
}

.step-description {
  color: #555;
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before {
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
  position: absolute;
}

.step-img-box::after {
  content: "";
  display: block;
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
  position: absolute;
}

.step-img {
  width: 35%;
}

/******************************/
/***** MEALS SECTION*****/
/******************************/
.meals-section {
  padding: 9.6rem 0;
}

.texting {
  text-align: center;
}

.meal {
  background-color: #fff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.2rem;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.11);
}
.meal-img {
  width: 100%;
  /*border-radius: 1.2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
 we can use overflow:hidden; in the mother class*/
}

.meal-tags {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  text-align: start;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.tag {
  padding: 0.4rem 0.8rem;
  border-radius: 1.5rem;
}
.tag-vegetarian {
  background-color: #51cf66;
}
.tag-vegan {
  background-color: #94d82d;
}
.tag-paleo {
  background-color: #ffd43b;
}
.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  text-align: start;
  color: #333;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
}

.meal-attribute,
.list-item {
  font-size: 1.8rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 4.4rem;
}

/******************************/
/***** TESTIMONIALS SECTION*****/
/******************************/
.testimonials-section {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  border-radius: 50%;
  height: 6.4rem;
  width: 6.4rem;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.testimonial-name {
  font-size: 1.6rem;
  margin-top: 2rem;
  color: #6f6f6f;
}

.gallery {
  padding: 1.6rem;
  gap: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.image:hover {
  transform: scale(1.1);
}
/******************************/
/***** TESTIMONIALS SECTION*****/
/******************************/

.section-pricing {
  padding: 9.6rem 0;
}

.princing-plan {
  background-color: #fdf2e9;
  border-radius: 11px;

  width: 75%;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  font-size: 2rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sing-up {
  text-align: center;
  margin-top: 3rem;
}

.pricing-plan-complete {
  padding: 4.6rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan-complete::after {
  position: absolute;
  content: "Best value";
  text-transform: uppercase;
  background-color: #ffd43b;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 4rem;
  top: 33px;
  right: -34px;
  color: #333;
  transform: rotate(45deg);
}
.first-plan-start {
  justify-self: flex-end;
  background-color: #fff;
  padding: 4.6rem;
  border: 2px solid #fdf2e9;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  border-radius: 50%;
  padding: 1.6rem;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/******************************/
/**THE CALL TO ACTION SECTION**/
/******************************/
.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  color: inherit;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta :focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/******************************/
/********FOOTER********/
/******************************/
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #767676;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
